@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root,
.light,
.dark .dark {
    --green: #4e7;
    --green-hover: #1b4;
    --blue: #47e;
    --blue-hover: #25c;
    --red: #e44;
    --red-hover: #b22;
    --fg-color: #fff;
    --bg-color: #e8e8e8;
    --fg-color-hover: #ddd;
    --half-color: #999;
    --dim-text-color: #777;
    --text-color-hover: #333;
    --text-color: #111;
    --font: "DM Sans", sans-serif;
    --font-mono: "Fira Code", "Cascadia Code", monospace;
    --font-icons: "Material Symbols Rounded";
    --border-radius: 10px;

    --focus-outline: inset 0 0 0 3px var(--blue);
    --transition-time: 0.2s;

    --shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    /* shadows only where contrast is needed */
    --inset-shadow: inset var(--shadow);
}

.dark {
    --bg-color: #111112;
    --fg-color: #222223;
    --fg-color-hover: #333334;
    --dim-text-color: #aaa;
    --text-color-hover: #bbb;
    --text-color: #fff;
}

/* generic rules */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    transition: background var(--transition-time),
        color var(--transition-time),
        box-shadow var(--transition-time);
    border: none;
    outline: none;
}

*::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    color: var(--text-color);
}

.screen-centered {
    display: flex;
    min-height: 100dvh;
    align-items: center;
}

input[type='text']:focus-visible,
input[type='number']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
textarea:focus-visible {
    box-shadow: var(--focus-outline);
}

h1,
h2,
h3,
h4,
h5 {
    user-select: none;
    font-weight: 400;
}

hr {
    border: 0;
    height: 0.2em;
    border-radius: 100px;
    background-color: var(--bg-color);
}

blockquote {
    border-left: 5px solid #999;
    background: color-mix(in srgb, #999 15%, transparent);
    padding: 10px 20px;
}

button {
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--blue);

    @media (hover: hover) {
        &:hover {
            color: var(--blue-hover);
        }
    }
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0000;
    cursor: auto;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-hover);
    border-radius: 5px;
    width: 3px;
    transition: all 0.3s;
    border: 2px solid var(--bg-color);
    cursor: auto;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

textarea::-webkit-resizer,
::-webkit-resizer {
    background-color: var(--bg-color);
}

/* generic classes */

.icon {
    font-family: var(--font-icons) !important;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.hidden {
    display: none !important;
}

.no-transitions *,
.no-transitions *:before,
.no-transitions *:after {
    transition: none !important;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

/* utility classes */

.main-container {
    width: 100%;
    max-width: 960px;
    background: var(--fg-color);
    border-radius: var(--border-radius);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-title {
    text-align: center;
    font-size: 2rem;
    flex: 1;
    user-select: none;
    font-weight: 400;
}

.text-input {
    font-size: 16px;
    padding: 12px 16px;
    font-family: var(--font);
    border-radius: var(--border-radius);
    background: var(--bg-color);
    color: var(--text-color);
}

/* popup */

.popup-background {
    position: fixed;
    inset: 0;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0005;
    backdrop-filter: blur(1.5px);

    .popup-content {
        background-color: var(--fg-color);
        border-radius: 20px;
        min-width: 20em;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        animation: fadeInZoom .05s ease;

        &.error {
            background: color-mix(in srgb, var(--bg-color) 90%, var(--red) 10%);
            color: var(--red);
        }

        .popup-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 3rem;
        }
    }
}

/* buttons */

.button {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    color: var(--bg-color);
    font-family: var(--font);
    cursor: pointer;
    text-align: center;
    user-select: none;

    &.main {
        padding: 18px 40px;
        font-size: 18px;
    }

    &.secondary {
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    &.pill {
        border-radius: 50px;
    }

    &:disabled,
    &:disabled {
        background: var(--half-color);
        cursor: not-allowed;
    }

    &.green {
        background-color: var(--green);
    }

    &.blue {
        background-color: var(--blue);
    }

    &.red,
    .error & {
        background-color: var(--red);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--text-color-hover);
            color: var(--bg-color);
        }

        &.secondary:hover {
            background-color: var(--fg-color-hover);
            color: var(--text-color);
        }

        &:disabled:hover {
            background-color: var(--half-color);
        }

        &.green:hover {
            background-color: var(--green-hover);
        }

        &.blue:hover {
            background-color: var(--blue-hover);
        }

        &.red:hover,
        .error &:hover {
            background-color: var(--red-hover);
        }
    }
}

button:focus-visible {
    box-shadow: var(--focus-outline);
}

/* special buttons */

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    font-family: var(--font-icons);
    background-color: var(--text-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;

    &:focus-visible {
        box-shadow: var(--focus-outline);
    }
}

.hint-button {
    padding: 0;
    font-size: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: auto;
    width: 16px;
    height: 16px;
}

.dropdown-button {
    user-select: none;
    cursor: pointer;

    &::before {
        font-family: var(--font-icons);
        content: 'expand_more';
        display: inline-block;
        transition: transform 0.2s;
        font-size: 25px;
        margin-right: 8px;
        height: 100%;
        vertical-align: bottom;
    }

    &.expanded::before {
        transform: rotate(-90deg);
    }
}

.option-select {
    font-size: 16px;
    padding: 12px 16px;
    text-align: center;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    font-family: var(--font);
    color: var(--text-color);

    &:focus-visible {
        box-shadow: var(--focus-outline);
    }
}

/* checkboxes */

input[type="checkbox"] {
    &.switch {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
        width: 4em;
        height: 2em;
        border-radius: 1337px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        box-shadow: var(--inset-shadow);

        &:checked {
            background-color: var(--text-color);

            &::after {
                left: calc(50% + 2px);
                background-color: var(--fg-color);
                right: 2px;
                transition: left 0.3s ease-in-out, right 0.2s ease-in-out;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: calc(50% + 2px);
            background-color: #fff;
            border-radius: 1337px;
            transition: left 0.2s ease-in-out,
                right 0.3s ease-in-out,
                box-shadow 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
            box-shadow: var(--shadow);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--fg-color-hover);
            }

            &:checked:hover {
                background-color: var(--text-color-hover);
            }
        }
    }

    &.checkbox {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color);
        width: 30px;
        height: 30px;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: var(--inset-shadow);

        &::after {
            content: 'check';
            color: transparent;
            font-family: var(--font-icons);
            font-size: 24px;
            position: absolute;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        &:checked {
            background-color: var(--text-color);
            box-shadow: var(--shadow);

            &::after {
                color: var(--fg-color);
            }
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--fg-color-hover);
            }

            &:checked:hover {
                background-color: var(--text-color-hover);
            }
        }
    }
}

/* toggle button */

.option-checkbox {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    user-select: none;

    @media (hover: hover) {
        &:hover {
            background-color: var(--fg-color-hover);
        }
    }

    &.checked {
        background-color: var(--text-color);
        color: var(--bg-color);

        @media (hover: hover) {
            &:hover {
                background-color: var(--text-color-hover);
            }
        }
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }
}

/* copy buttons */

.copy-button {
    font-family: var(--font-icons);
    font-size: 24px;
    padding: 0;
}

.corner-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
}

/* slider */

.small-slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;

    &::-webkit-slider-runnable-track {
        height: 8px;
        background-color: var(--bg-color);
        border-radius: 4px;
    }

    &::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
        background-color: var(--text-color);
        border-radius: 50%;
        cursor: pointer;
        -webkit-appearance: none;
        border: none;
        outline: none;
        margin-top: -4px;
    }

    &::-moz-range-track {
        height: 8px;
        background-color: var(--bg-color);
        border-radius: 4px;
    }

    &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background-color: var(--text-color);
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &::-moz-range-thumb:hover {
        background-color: var(--text-color-hover);
    }

    &:focus-visible::-moz-range-thumb {
        background-color: var(--blue);
    }

    &:focus-visible::-moz-range-thumb:hover {
        background-color: var(--blue-hover);
    }
}

/* animations */

@keyframes fadeInZoom {
    0% {
        opacity: .5;
        transform: scale(.90);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* responsive design */
@media (max-width: 600px) {
    body {
        padding: 16px;
        padding-bottom: 5rem;
    }

    .main-container {
        padding: 16px;
    }
}