@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --font: "DM Sans", sans-serif;
    --message-width: 900px;
    --chat-width: 1000px;
}

body {
    height: 100dvh;
    padding: 0;
}

/* basic rules */

code {
    background: var(--bg-color);
    color: var(--red);
    font-family: var(--font-mono);
    padding: 2.5px 5px;
    border-radius: var(--border-radius);
    font-size: .9rem;
}

pre code,
code.block {
    background-color: var(--bg-color);
    display: block;
    white-space: pre;
    color: var(--text-color);
    padding: 10px 20px;
    border-left: 5px solid var(--blue);
    overflow-x: auto;
}

hr {
    margin: 5px 0;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
}

a {
    color: var(--text-color);
    font-weight: bold;
}

.message a::after {
    content: "link";
    color: var(--blue);
    padding-left: 0.1em;
    font-family: var(--font-icons)
}

blockquote {
    border-left: 5px solid #999;
    background: color-mix(in srgb, #999 15%, transparent);
    padding: 10px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: var(--bg-color);
    border-bottom: 3px solid var(--fg-color);
}

table td {
    background-color: var(--bg-color);
}

table tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

table tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

table tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

#main {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#main.chat {
    justify-content: flex-start;
}

.controls-container {
    display: flex;
    flex-direction: column;
    background-color: var(--fg-color);
    outline: 5px solid var(--bg-color);
    padding: 10px;
    border-radius: 30px;
    min-width: 750px;
}

.chat .controls-container {
    position: fixed;
    bottom: 20px;
    min-width: var(--chat-width);
}

.controls-container:has(#prompt:focus) {
    box-shadow: var(--focus-outline);
}

.chat #title-block {
    display: none;
}

#title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    color: var(--dim-text-color);
    font-size: 1rem;
    font-family: var(--font);
}

.title {
    font-size: 3rem;
    font-weight: normal;
}

#messages-viewport {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100dvh - 80px);
    max-height: 100dvh;
    overflow: auto;
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.chat #messages-viewport {
    display: flex;
}

#messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--chat-width);
}

#end-spacer {
    height: 50px;
    flex-shrink: 0;
}

.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-container.user {
    align-items: flex-end;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: var(--fg-color);
    color: var(--text-color);
    max-width: var(--message-width);
    gap: 10px;
    min-height: 40px;
    font-size: 1.2rem;
}

.message.user {
    align-self: flex-end;
    border-radius: 20px 20px 0 20px;
}

.message.user pre code {
    background-color: #111112;
    color: #fff;
}

.message.bot {
    align-self: flex-start;
    border-radius: 20px 20px 20px 0;
    background-color: var(--fg-color);
    color: var(--text-color);
}

.editing .message {
    outline: 5px solid var(--blue);
    white-space: pre-wrap;
    line-height: normal;
}

/* grow messages that look like they would be complicated to full size */
.message:has(pre),
.message:has(table),
.message:has(blockquote),
.message:has(ul),
.message:has(ol),
.message:has(div),
.message:has(p:nth-child(n+2)) {
    width: var(--message-width);
}

.message.bot.pending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    gap: 10px;
    min-width: 50%;
}

.message.error {
    background-color: var(--red);
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    border-radius: var(--border-radius);
}

.message-button {
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    border-radius: 1337px;
    cursor: pointer;
    color: var(--text-color);
    opacity: 0;
    ;
    transition: opacity 0.2s ease;
}

.message.error .message-button {
    display: none;
}

.pending-bar {
    --loading-color: color-mix(in srgb, var(--text-color) 10%, transparent);
    --loading-color-2: color-mix(in srgb, var(--text-color) 5%, transparent);
    width: 100%;
    height: 1em;
    background: linear-gradient(90deg,
            var(--loading-color) 25%,
            var(--loading-color-2) 50%,
            var(--loading-color) 75%);
    background-size: 800px 100%;
    animation: shimmer 3s infinite linear;
    border-radius: 1337px;
}

#prompt {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--fg-color);
    color: var(--text-color);
    font-size: 1.25rem;
    font-family: var(--font);
    resize: none;
    min-height: 50px;
    height: auto;
    max-height: 200px;
}

#prompt:focus {
    box-shadow: none;
}

.toolbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: space-between;
}

.toolbar button {
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    border-radius: 1337px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--fg-color);
    color: var(--text-color);
}

.toolbar #send {
    background-color: var(--text-color);
    color: var(--bg-color);
}

#key-block {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--fg-color);
    border-radius: var(--border-radius);
}

#key-block:has(#api-key:focus) {
    box-shadow: var(--focus-outline);
}

#key-block.collapsed #api-key {
    width: 0;
    padding: 0;
    opacity: 0;
}

#key-block.collapsed #key-button {
    border-radius: var(--border-radius);
}

#key-block.collapsed #verify-button {
    width: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}

#key-button {
    color: var(--text-color);
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#new-chat-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--fg-color);
    color: var(--text-color);
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#api-key {
    width: 300px;
    height: 3rem;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--font);
    transition: width 0.2s ease, padding 0.2s ease, opacity 0.2s ease;
}

#api-key:focus {
    box-shadow: none;
}

#verify-button {
    background-color: transparent;
    color: var(--text-color);
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
        width 0.2s ease,
        padding 0.2s ease,
        opacity 0.2s ease,
        background-color 0.2s ease;
}

*::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

@media (hover:hover) {
    .toolbar button:hover {
        background-color: var(--fg-color-hover);
    }

    #send:hover {
        background-color: var(--text-color-hover);
        color: var(--bg-color);
    }

    #key-button:hover,
    #new-chat-button:hover {
        background-color: var(--fg-color-hover);
    }

    #verify-button:hover {
        background-color: var(--fg-color-hover);
    }

    .message-container:hover .message-button {
        color: var(--text-color);
        opacity: 0.25;
    }

    .message-container:hover .message-button:hover {
        color: var(--text-color);
        opacity: 1;
    }
}